<header>
    <section>
        <div class="logo"><img src="/assets/icons/logo.svg" height="32px" /></div>
        <nav>
            <ul>
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">صفحه اصلی</a></li>
                <li><a routerLink="/article" routerLinkActive="active">مقاله ها</a></li>
                <li><a routerLink="/about" routerLinkActive="active">درباره ما</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">تماس با ما</a></li>
            </ul>
        </nav>
        <div class="auth">
            <div *ngIf="" class="loggedIn"></div>
            <div class="quest">
                <a routerLink="/login" class="login">ورود</a>
                <a routerLink="/register" class="register">عضویت</a>
            </div>
        </div>
    </section>
</header>