<div *ngIf="isLoading">
    <svg class="margin-top-32" width="1024" height="500" viewBox="0 0 1024 500" fill="#f1f1f1" xmlns="http://www.w3.org/2000/svg">
        <rect width="250" height="246" rx="16"/>
        <rect y="254" width="250" height="246" rx="16"/>
        <rect x="258" width="250" height="246" rx="16"/>
        <rect x="516" width="508" height="500" rx="16"/>
        <rect x="258" y="254" width="250" height="246" rx="16"/>
    </svg>

</div>
<div *ngIf="!isLoading" class="latest-articles">
    <div class="latest">
        <a routerLink="/article/{{ lastone.slug }}"></a>
        <img src="assets/images/{{ lastone.img }}" />
        <div class="info">
            <h2>{{ lastone.title }}</h2>
        </div>
    </div>
    <div class="other">
        <div class="other-card" *ngFor="let article of others">
            <a routerLink="/article/{{ article.slug }}"></a>
            <img src="assets/images/{{ article.img[0] }}" />
            <div class="info">
                <h2>{{ article.title }}</h2>
            </div>
        </div>
    </div>
</div>