@import '/src/styles/variables';
@import '/src/styles/color';

.main{
    display: flex;
    flex-direction: column;
    img{
        width: 100%;
        border-radius: $radius-16;
    }
    h1{
        font-size: $headline1;
        color: $text-main;
    }
}
.side{

}