@import '/src/styles/variables';
@import '/src/styles/color';

.main{
    display: flex;
    flex-direction: column;
    span{
        font-size: $body2;
        color: $text-variant;
    }
    img{
        width: 100%;
        border-radius: $radius-16;
    }
    .author{
        margin-top: 24px;
        display: flex;
        align-items: center;
        img{
            width: 32px;
            height: 32px;
            border-radius: $radius-16;
        }
        span{
            margin-right: 12px;
        }
    }
    h1{
        font-size: $headline1;
        color: $text-main;
        margin-bottom: 24px;
    }
    .desc{
        font-size: $body1;
        color: $text-main;
        margin-top: 32px;
        line-height: 32px;
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid $stroke-main;
    }
    .tags{
        display: flex;
        margin-bottom: 32px;
    }
}