@import 'src/assets/styles/variables';
@import 'src/assets/styles/color';

:host{
    width: 100%;
}

.editor-picked {
    display: flex;
    width: 100%;
    background-color: $gray-main;
    padding-bottom: 32px;
    margin-bottom: 32px;
    .editor-picked-container {
        display: flex;
        flex-direction: column;
        width: 1024px;
        height: inherit;
        margin: auto;
        h4 {
            display: block;
            margin-top: 24px;
            margin-bottom: 24px;
            font-size: $headline3;
            color: $text-main;
        }
        .editor-picked-cards {
            display: grid;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
            grid-column-gap: 32px;
        }
    }
}