<!-- <div class="latest-articles">
    <div class="latest">
        <img src="/assets/images/{{ articles[0].img[0] }}" />
        <div class="info">
            <h2>{{ articles[0].title }}</h2>
        </div>
    </div>
    <div class="other">
        <div class="other-card" *ngFor="let recents of articles">
            <img src="{{ recents.img[0] }}" />
            <div class="info">
                <h2>{{ recents.title }}</h2>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="recent-articles">
    <div class="recent-articles-col" *ngFor="let article of otherLatestArticles">
        <div class="recent-articles-img"><a routerLink=""><img src="{{ article.img }}" /></a></div>
        <div class="recent-articles-info">
            <a routerLink="" class="link"><h3>{{ article.title }}</h3></a>
            <label>{{ article.created }}</label>
        </div>
    </div>
</div> -->