@import "src/assets/styles/color";
@import "src/assets/styles/textbox";

:host{
    display: flex;
    flex-direction: column;
}
label{
    color: $text-variant;
    margin-bottom: 8px;
    font-size: 14px;
}
input{
    @include OutlinedTextbox;
}
:host.ng-invalid.ng-touched {
    input {
        border-color: $danger-main;
    }
}
input.ng-invalid.ng-touched {
    border-color: $danger-main;
}
.alertmessage {
    font-size: 12px;
    margin-top: 2px;
    margin-right: 16px;
    color: $danger-main;
}