@import '/src/assets/styles/color';
@import '/src/assets/styles/variables';

:host{
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    box-sizing: border-box;
    font-size: $body2;
    span{
        display: flex;
        width: 24px;
        height: 24px;
        margin-left: 12px;
    }
}
:host.alert-success{
    background-color: $success-light;
}
:host.alert-danger{
    background-color: $danger-light;
}
:host.alert-warning{

}
:host.alert-info{

}