/* Primary Color */
$primary-main:#FF8364;
$primary-light: #FFF5F2;

/* Secondary Color */
$secondary-main: #FFD98E;

/* Text Color */
$text-main: #444444;
$text-variant: #777777;
$text-contrast: white;

/* Surface Color */
$surface-main: white;
$surface-dark: #252526;

/* Stroke Color */
$stroke-main: #E6E6E6;

/* Background Color */
$background-main: #f5f5f5;

/* Success Color */
$success-main: #04AA6D;
$success-dark: #059862;

/* Danger Color */
$danger-main: #F74747;