$headline1: 2rem;
$headline2: 1.75rem;
$headline3: 1.5rem;
$headline4: 1.25rem;
$headline5: 1.125rem;
$body1: 1rem;
$body2: 0.875rem;
$caption: 0.75rem;

$radius-2: 2px;
$radius-4: 4px;
$radius-8: 8px;
$radius-12: 12px;
$radius-16: 16px;
$radius-24: 24px;
$radius-28: 28px;
$radius-32: 32px;
$radius-40: 40px;

$opacity-0: 0;
$opacity-25: 0.25;
$opacity-50: 0.5;
$opacity-75: 0.75;

$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
