@import '/src/assets/styles/variables';
@import '/src/assets/styles/color';
@import '/src/assets/styles/textbox';
@import '/src/assets/styles/buttons';

:host{
    background-color: white;
}
section{
    display: flex;
    flex-direction: column;  
    width: 100%;
    height: 192px;
    background-color: $primary-light;
    .container{
        display: flex;
        flex-direction: column;  
        width: 1024px;
        margin: 48px auto 0 auto;
    }
    h1{
        font-size: $headline3;
        color: $text-main;
    }
    p{
        width: 30%;
        color: $text-variant;
        margin-top: 8px;
        font-size: $body2;
    }
}

.top { grid-area: top; }
.bot { grid-area: bot; }

div.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    width: 1024px;
    margin: 32px auto 0 auto;
    .formContainer {
        form{
            display: grid;
            grid-template-areas:
            'top top'
            'bot bot';
            grid-column-gap: 16px;
            .textboxContainer{
                display: flex;
                flex-direction: column;
                label{
                    color: $text-variant;
                    margin-bottom: 8px;
                    font-size: 14px;
                }
                input{
                    @include OutlinedTextbox;
                }
                textarea{
                    @include OutlinedTextarea;
                }
                input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
                    border-color: $danger-main;
                }
            }
            .alertmessage {
                font-size: 12px;
                margin-top: 2px;
                margin-right: 16px;
                color: $danger-main;
            }
            button{
                @include FilledButton;
            }
            button[disabled]{
                @include DisableFilledButton;
            }
        }
    }
    .map {
        > img {
            width: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
        .mapInfo {
            display: flex;
            flex-direction: column;
            margin-top: 8px;
            > div {
                display: flex;
                height: 32px;
            }
            .key {
                font-size: $body2;
                margin-left: 8px;
                color: $text-variant;
            }
            .value {

            }
        }
    }
}

div.subscribe {
    width: 1024px;
    margin: 0 auto;
    padding-top: 32px;
    border-top: 1px solid $stroke-main;
}