<section>
    <div class="container">
        <h1>تماس با ما</h1>
        <p>فرم زیر را پر کنید، تیم ما در اسرع وقت با شما در ارتباط خواهند بود.</p>
    </div>
</section>
<div class="content">
    <div class="formContainer">
        <blog-alert *ngIf="showAlert" [status]="status" class="margin-bot-m">{{ alertMessage }}</blog-alert>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="margin-bot-m">
                <blog-textbox type="text"
                              title="نام شما"
                              name="name"
                              required
                              #name="ngModel"
                              [formGroup]="name"
                              ngModel></blog-textbox>
            </div>
            <div>
                <blog-textbox type="text"
                              title="آدرس ایمیل"
                              name="email"
                              required
                              #email="ngModel"
                              [formGroup]="email"
                              ngModel></blog-textbox>
            </div>
            <div class="bot">
                <blog-textarea [rows]="7"
                               placeholder="نظر خود را بنویسید"
                               title="نظر شما"
                               name="message"
                               required
                               #message="ngModel"
                               [formGroup]="message"
                               ngModel></blog-textarea>
            </div>
            <button blog-button
                    type="submit"
                    [disabled]="form.invalid || form.untouched "
                    class="margin-top-l margin-bot-xl filledButton">ارسال نظر</button>
        </form>
    </div>
    <div class="map">
        <img src="/assets/images/map.png" alt="map" />
        <div class="mapInfo">
            <div>
                <img src="/assets/icons/email.svg" alt="email" />
                <span class="key">ایمیل:</span>
                <span class="value">info@hefdah.com</span>
            </div>
            <div>
                <img src="/assets/icons/call.svg" alt="call" />
                <span class="key">تلفن:</span>
                <span class="value">(937) 136-0717</span>
            </div>
            <div>
                <img src="/assets/icons/location.svg" alt="location" />
                <span class="key">آدرس:</span>
                <span class="value">نیویورک، بروکلین، خیابان پلیموث 10، برج آلفابت، طبقه 17، واحد 68 </span>
            </div>
        </div>
    </div>
</div>
<home-newsletter></home-newsletter>