<section>
    <div class="container">
        <h1>تماس با ما</h1>
        <p>فرم زیر را پر کنید، تیم ما در اسرع وقت با شما در ارتباط خواهند بود.</p>
    </div>
</section>
<div class="content">
    <div class="formContainer">
        <div *ngIf="showAlert" blog-alert [state]="'alertDanger'" class="margin-bot-m">پیغام شما با موفقیت ارسال شد.</div>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="textboxContainer margin-bot-m">
                <label>نام شما</label>
                <input type="text" name="name" ngModel required #name="ngModel">
                <span *ngIf="name.invalid && name.touched" class="alertmessage">لطفا نام خود را وارد کنید.</span>
            </div>
            <div class="textboxContainer">
                <label>آدرس ایمیل</label>
                <input type="email" name="email" ngModel required email #email="ngModel"/>
                <span *ngIf="email.invalid && email.touched" class="alertmessage">لطفا ایمیل خود را وارد کنید.</span>
            </div>
            <div class="textboxContainer bot">
                <label>نظر شما</label>
                <textarea rows="7" maxlength="300" name="message" ngModel required #msg="ngModel"></textarea>
                <span *ngIf="msg.invalid && msg.touched" class="alertmessage">لطفا نظر خود را بنویسید.</span>
            </div>
            <button type="submit" [disabled]="form.invalid || form.untouched " class="margin-top-l margin-bot-xl">ارسال نظر</button>
        </form>
    </div>
    <div class="map">
        <img src="/assets/images/map.png" alt="map" />
        <div class="mapInfo">
            <div>
                <img src="/assets/icons/email.svg" alt="email" />
                <span class="key">ایمیل:</span>
                <span class="value">info@hefdah.com</span>
            </div>
            <div>
                <img src="/assets/icons/call.svg" alt="call" />
                <span class="key">تلفن:</span>
                <span class="value">(937) 136-0717</span>
            </div>
            <div>
                <img src="/assets/icons/location.svg" alt="location" />
                <span class="key">آدرس:</span>
                <span class="value">نیویورک، بروکلین، خیابان پلیموث 10، برج آلفابت، طبقه 17، واحد 68 </span>
            </div>
        </div>
    </div>
</div>
<home-newsletter></home-newsletter>