<section class="about">
    <div class="heroImage">
        <img src="/assets/images/about.png" alt="about_image"/>
    </div>
    <div class="container">
        <div class="info">
            <span>درباره ما</span>
            <h2>اهداف ما</h2>
            <p>{{ data.goals }}</p>
        </div>
        <div class="illustration">
            <img src="/assets/images/darts.png" alt="dart"/>
        </div>
    </div>
</section>
<section class="properties">
    <div *ngFor="let item of data.properties" class="property">
        <div class="property_illustration">
            <span></span>
        </div>
        <div class="property_info">
            <h3>{{ item.title }}</h3>
            <p>{{ item.desc }}</p>
        </div>
    </div>
</section>
<section class="team">
    <div class="container">
        <span>درباره ما</span>
        <h2>تیم حرفه ای هفده</h2>
        <div class="teamList">
            <div *ngFor="let member of data.team">
                <img src="{{ member.img }}" alt="team-picture" />
                <label>{{ member.name }}</label>
                <p>{{ member.desc }}</p>
            </div>
        </div>
    </div>
</section>