<section class="about">
    <div class="container">
        <div class="info">
            <span>درباره ما</span>
            <h2>اهداف ما</h2>
            <p>{{ data.goals }}</p>
        </div>
        <div class="illustration">
            <span></span>
        </div>
    </div>
</section>
<section class="properties">
    <div *ngFor="let item of data.properties" class="property">
        <div class="property_illustration">
            <span></span>
        </div>
        <div class="property_info">
            <h3>{{ item.title }}</h3>
            <p>{{ item.desc }}</p>
        </div>
    </div>
</section>
<section class="team">
    <div class="container">
        <span>درباره ما</span>
        <h2>تیم حرفه ای هفده</h2>
    </div>
</section>