@import '/src/assets/styles/variables';
@import '/src/assets/styles/color';

:host{
    background-color: white;
    &:after{
        display: block;
        position: absolute;
        top:80px;
        left: 0;
        content: "";
        width: 50%;
        height: 380px;
        background-color: $primary-light;
    }
}
section.about{
    display: flex;
    flex-direction: column;
    width: 100%;
    .heroImage{
        width: 1024px;
        margin: 48px auto 0 auto;
        z-index: 1;
        img{
            width: 1024px;
            height: 285px;
            background-color: $gray-light;
            border-radius: 16px;
        }
    }
    .container {
        display: grid;
        grid-template-columns: 672px 1fr;
        grid-column-gap: 32px;
        width: 1024px;
        margin: 48px auto 24px auto;
        div.info{
            span {
                color: $text-variant;
                margin-top: 8px;
                font-size: $body2;
            }
            h2{
                font-size: $headline3;
                color: $text-main;
            }
            p{
                color: $text-main;
                margin: 16px 0;
            }
        }
        div.illustration {
            display: flex;
            justify-content: end;
            align-items: center;
            span {
                display: flex;
                width: 150px;
                height: 100px;
                background-color: gainsboro;
            }
        }
    }
}
section.properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;
    width: 1024px;
    margin: 48px auto 48px auto;
    .property {
        display: flex;
        height: 128px;
        .property_illustration {
            display: flex;
            span {
                width: 64px;
                height: 64px;
                background-color: gainsboro;
            }
        }
        .property_info {
            width: 100%;
            padding-right: 16px;
            h3{
                font-size: $body1;
                color: $text-main;
            }
            p{
                font-size: $body2;
                color: $text-variant;
                margin: 8px 0;
            }
        }
    }
}
section.team{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $gray-main;
    .container{
        display: flex;
        flex-direction: column;
        width: 1024px;
        margin: 48px auto 48px auto;
        span {
            color: $text-variant;
            margin-top: 8px;
            font-size: $body2;
        }
        h2{
            font-size: $headline3;
            color: $text-main;
            margin-bottom: 16px;
        }
        .teamList {
            display: grid;
            grid-template-columns:  1fr 1fr 1fr 1fr;
            grid-column-gap: 32px;
            div {
                width: 100%;
                img{
                    width: 100%;
                    border-radius: 16px;
                }
                label{
                    display: block;
                    margin-top: 8px;
                    font-weight: bold;
                    color: $text-main;
                }
                p{
                    margin: 8px 0 0 0;
                    font-size: $body2;
                    color: $text-variant;
                }
            }
        }
    }
}