<div class="main">
    <span>{{ article.created | persianCalendar }}</span>
    <h1>{{ article.title }}</h1>
    <img src="/assets/images/{{ article.img }}" />
    <div class="author">
        <img src="/assets/images/author.jpg" />
        <span>{{ article.author }} - زمان مطالعه: {{ article.duration }} دقیقه</span>
    </div>
    <div class="desc">
        {{ article.desc }}
        <blockquote>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</blockquote>
        <h3>لورم ایپسوم متن ساختگی</h3>
        {{ article.desc }}
    </div>
    <div class="tags">
        <blog-chips *ngFor="let chip of article.tags">{{chip}}</blog-chips>
    </div>
    <br/>
</div>