<div *ngIf="comments.length > 0" class="comments">
    <h2>نظرات کاربران</h2>
    <blog-comment *ngFor="let cm of comments" [comment]="cm"></blog-comment>
</div>
<div class="yourComment">
    <h2>نظر شما</h2>
    <blog-alert *ngIf="showAlert" [status]="status">{{ alertMessage }}</blog-alert>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div>
            <blog-textbox type="text"
                          title="نام شما"
                          name="name"
                          [formGroup]="commentForm.get('name')"
                          formControlName="name"></blog-textbox>
        </div>
        <div>
            <blog-textbox type="email"
                          title="آدرس ایمیل"
                          name="email"
                          [formGroup]="commentForm.get('email')"
                          formControlName="email"></blog-textbox>
        </div>
        <div class="bot">
            <blog-textarea [rows]="7"
                           placeholder="نظر خود را بنویسید"
                           title="نظر شما"
                           name="comment"
                           [formGroup]="commentForm.get('comment')"
                           formControlName="comment"></blog-textarea>
        </div>
        <button type="submit"
                blog-button
                class="filledButton roundedButton margin-bot-l"
                [disabled]="commentForm.untouched || commentForm.invalid">ارسال نظر</button>
    </form>
</div>