// PADDING
.padding-xxs { padding: 2px; }
.padding-top-xxs { padding-top: 2px; }
.padding-left-xxs { padding-left: 2px; }
.padding-right-xxs { padding-right: 2px; }
.padding-bot-xxs { padding-bottom: 2px; }
.padding-xs { padding: 4px; }
.padding-top-xs { padding-top: 4px; }
.padding-left-xs { padding-left: 4px; }
.padding-right-xs { padding-right: 4px; }
.padding-bot-xs { padding-bottom: 4px; }
.padding-s { padding: 8px; }
.padding-top-s { padding-top: 8px; }
.padding-left-s { padding-left: 8px; }
.padding-right-s { padding-right: 8px; }
.padding-bot-s { padding-bottom: 8px; }
.padding-m { padding: 16px; }
.padding-top-m { padding-top: 16px; }
.padding-left-m { padding-left: 16px; }
.padding-right-m { padding-right: 16px; }
.padding-bot-m { padding-bottom: 16px; }
.padding-l { padding: 24px; }
.padding-top-l { padding-top: 24px; }
.padding-left-l { padding-left: 24px; }
.padding-right-l { padding-right: 24px; }
.padding-bot-l { padding-bottom: 24px; }
.padding-xl { padding: 32px; }
.padding-top-xl { padding-top: 32px; }
.padding-left-xl { padding-left: 32px; }
.padding-right-xl { padding-right: 32px; }
.padding-bot-xl { padding-bottom: 32px; }
.padding-xxl { padding: 40px; }
.padding-top-xxl { padding-top: 40px; }
.padding-left-xxl { padding-left: 40px; }
.padding-right-xxl { padding-right: 40px; }
.padding-bot-xxl { padding-bottom: 40px; }

// MARGIN
.margin-xxs { margin: 2px; }
.margin-top-xxs { margin-top: 2px; }
.margin-left-xxs { margin-left: 2px; }
.margin-right-xxs { margin-right: 2px; }
.margin-bot-xxs { margin-bottom: 2px; }
.margin-xs { margin: 4px; }
.margin-top-xs { margin-top: 4px; }
.margin-left-xs { margin-left: 4px; }
.margin-right-xs { margin-right: 4px; }
.margin-bot-xs { margin-bottom: 4px; }
.margin-s { margin: 8px; }
.margin-top-s { margin-top: 8px; }
.margin-left-s { margin-left: 8px; }
.margin-right-s { margin-right: 8px; }
.margin-bot-s { margin-bottom: 8px; }
.margin-m { margin: 16px; }
.margin-top-m { margin-top: 16px; }
.margin-left-m { margin-left: 16px; }
.margin-right-m { margin-right: 16px; }
.margin-bot-m { margin-bottom: 16px; }
.margin-l { margin: 24px; }
.margin-top-l { margin-top: 24px; }
.margin-left-l { margin-left: 24px; }
.margin-right-l { margin-right: 24px; }
.margin-bot-l { margin-bottom: 24px; }
.margin-xl { margin: 32px; }
.margin-top-xl { margin-top: 32px; }
.margin-left-xl { margin-left: 32px; }
.margin-right-xl { margin-right: 32px; }
.margin-bot-xl { margin-bottom: 32px; }
.margin-xxl { margin: 40px; }
.margin-top-xxl { margin-top: 40px; }
.margin-left-xxl { margin-left: 40px; }
.margin-right-xxl { margin-right: 40px; }
.margin-bot-xxl { margin-bottom: 40px; }

// RADIUS

// SHADOW
.shadow-xxs { box-shadow: 0 1px 2px rgba(0,0,0,0.08); }
.shadow-xs { box-shadow: 0 1px 4px rgba(0,0,0,0.08); }
.shadow-s { box-shadow: 0 3px 6px rgba(0,0,0,0.08); }
.shadow-m { box-shadow: 0 6px 12px rgba(0,0,0,0.08); }
.shadow-l { box-shadow: 0 12px 24px rgba(0,0,0,0.08); }
.shadow-xl { box-shadow: 0 24px 32px rgba(0,0,0,0.08); }
.shadow-xxl { box-shadow: 0 24px 48px rgba(0,0,0,0.08); }

// TYPOGRAPHY
.headline1 { font-size: 2rem; font-weight: 500; }
.headline2 { font-size: 1.75rem; font-weight: 500; }
.headline3 { font-size: 1.5rem; font-weight: 500; }
.headline4 { font-size: 1.25rem; font-weight: 500; }
.headline5 { font-size: 1.125rem; font-weight: 500; }
.body1 { font-size: 1rem; }
.body2 { font-size: 0.875rem; }
.caption { font-size: 0.75rem; }

// ANCHOR