/* Primary Color */
$primary-main:#FF8364;
$primary-light: #FFF5EF;

/* Secondary Color */
$secondary-main: #653D98;
$secondary-light: #E0CDFA;

/* Text Color */
$text-main: #444444;
$text-variant: #777777;
$text-contrast: white;

/* Surface Color */
$surface-main: white;
$surface-dark: #252526;

/* Stroke Color */
$stroke-main: #E6E6E6;

/* Background Color */
$background-main: #fbfbfb;

/* Success Color */
$success-main: #04AA6D;
$success-light: #cdf8e5;
$success-dark: #059862;

/* Danger Color */
$danger-main: #F74747;
$danger-light: #ffe1e1;