@import '/src/styles/color';

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

section{
    .latest-articles{
        display: flex;
        box-sizing: border-box;
        width: 1024px;
        height: 450px;
        margin: 32px auto 0 auto;
        img {
            display: flex;
            min-width: 450px;
            height: 450px;
            border-radius: 16px;
            object-fit: cover;
        }
        .latest-articles-info {
            display: flex;
            flex-direction: column;
            margin-right: 32px;
            label {
                font-size: 12px;
                color: $text-variant;
                margin-top: 80px;
                margin-bottom: 24px;
            }
            h2 {
                font-size: 32px;
                color: $text-main;
            }
            p {
                font-size: 14px;
                color: $text-main;
            }
        }
        .author{
            display: flex;
            width: 100%;
            margin-top:16px;
            align-items: center;
            .author-avatar {
                display: block;
                width: 32px;
                height: 32px;
                background-color: $primary-main;
                border-radius: 28px;
                img{
                    display: block;
                    min-width: inherit;
                    height: inherit;
                }
            }
            .author-details {
                display: flex;
                color: $text-variant;
                font-size: 14px;
                div{
                    margin: 0 8px;
                }
            }
        }
    }
}

section{
    .recent-articles{
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-column-gap: 24px;
        width: 1024px;
        height: 112px;
        margin-top: 32px;
        margin-bottom: 32px;
        .recent-articles-col{
            display: flex;
            box-sizing: border-box;
            .recent-articles-img{
                display: block;
                min-width: 112px;
                height: 112px;
                img {
                    min-width: inherit;
                    height: inherit;
                    object-fit: cover;
                    border-radius: 16px;
                }
            }
            .recent-articles-info{
                display: block;
                margin-right: 16px;
                h3{
                    font-size: 14px;
                    color: $text-main;
                    margin-top: 16px;
                }
                label{
                    font-size: 12px;
                    color: $text-variant;
                }
            }
        }
    }
}

section {
    .editor-picked {
        display: flex;
        width: 100%;
        background-color: $primary-light;
        padding-bottom: 24px;
        margin-bottom: 32px;
        .editor-picked-container {
            display: flex;
            flex-direction: column;
            width: 1024px;
            height: inherit;
            margin: auto;
            h4 {
                display: block;
                margin-top: 24px;
                margin-bottom: 24px;
                font-size: 24px;
                color: $text-main;
            }
            .editor-picked_cards {
                display: grid;
                grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
                grid-column-gap: 24px;
                div{
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    border-radius: 16px;
                    overflow: hidden;
                    background-color: white;
                    img{
                        width: inherit;
                        height: 213px;
                        object-fit: cover;
                    }
                    h3{
                        font-size: 14px;
                        color: $text-main;
                        padding: 24px 24px 2px 24px;
                    }
                    span{
                        font-size: 12px;
                        color: $text-variant;
                        padding: 2px 24px 24px 24px;
                    }
                }
            }
        }
    }
}