<section>
    <div class="latest-articles">
        <img src="{{ latestArticlesData.img }}" />
        <div class="latest-articles-info">
            <label>{{ latestArticlesData.created }}</label>
            <h2>{{ latestArticlesData.title }}</h2>
            <p>{{ latestArticlesData.desc }}</p>
            <div class="author">
                <div class="author-avatar">
                    <img src="{{ latestArticlesData.authorImg }}" />
                </div>
                <div class="author-details">
                    <div>{{ latestArticlesData.author }}</div>|
                    <div>{{ latestArticlesData.duration }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="recent-articles">
        <div class="recent-articles-col" *ngFor="let article of recentArticlesData">
            <div class="recent-articles-img"><img src="{{ article.img }}" /></div>
            <div class="recent-articles-info">
                <h3>{{ article.title }}</h3>
                <label>{{ article.created }}</label>
            </div>
        </div>
    </div>
    <div class="editor-picked">
        <div class="editor-picked-container">
            <h4>انتخاب سردبیر</h4>
            <div class="editor-picked_cards">
                <div *ngFor="let picked of editorPickedData">
                    <img src="{{ picked.img }}"/>
                    <h3>{{ picked.title }}</h3>
                    <span>{{ picked.created }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="other-articles">

    </div>
</section>