<div class="comments">
    <h2>نظرات کاربران</h2>
    <div class="comment">
        <div class="img">
            <img src="./assets/images/avatar.png" alt="avatar" />
        </div>
        <div class="desc">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
            <div class="author">
                <a>RezaNrzdh</a>
                <span>{{ 1674627467935 | persianCalendar }}</span>
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="img">
            <img src="./assets/images/avatar.png" alt="avatar" />
        </div>
        <div class="desc">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
            <div class="author">
                <a>RezaNrzdh</a>
                <span>{{ 1674627467935 | persianCalendar }}</span>
            </div>
        </div>
    </div>
</div>
<div class="yourComment">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div>
            <blog-textbox type="text" title="نام شما" name="name" formControlName="name"></blog-textbox>
            <span *ngIf="commentForm.get('name').invalid && commentForm.get('name').touched">لطفا نام خود را وارد کنید</span>
        </div>
        <div>
            <blog-textbox type="email" title="آدرس ایمیل" name="email" formControlName="email"></blog-textbox>
            <span *ngIf="commentForm.get('email').invalid && commentForm.get('email').touched">لطفا ایمیل خود را وارد کنید</span>
        </div>
        <div class="bot">
            <blog-textbox type="text" title="نظر شما" name="comment" formControlName="comment"></blog-textbox>
            <span *ngIf="commentForm.get('comment').invalid && commentForm.get('comment').touched">لطفا نظر خود را وارد کنید</span>
        </div>
        <button filled-button type="submit">ارسال نظر</button>
    </form>
</div>