<div class="comments">
    <h2>نظرات کاربران</h2>
    <div class="comment">
        <div class="img">
            <img src="./assets/images/avatar.png" alt="avatar" />
        </div>
        <div class="desc">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
            <div class="author">
                <a>RezaNrzdh</a>
                <span>{{ 1674627467935 | persianCalendar }}</span>
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="img">
            <img src="./assets/images/avatar.png" alt="avatar" />
        </div>
        <div class="desc">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
            <div class="author">
                <a>RezaNrzdh</a>
                <span>{{ 1674627467935 | persianCalendar }}</span>
            </div>
        </div>
    </div>
</div>
<div class="yourComment">
    <h2>نظر شما</h2>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div>
            <blog-textbox type="text"
                          title="نام شما"
                          name="name"
                          [formGroup]="commentForm.get('name')"
                          formControlName="name"></blog-textbox>
        </div>
        <div>
            <blog-textbox type="email"
                          title="آدرس ایمیل"
                          name="email"
                          [formGroup]="commentForm.get('email')"
                          formControlName="email"></blog-textbox>
        </div>
        <div class="bot">
            <blog-textarea [rows]="7"
                           placeholder="نظر خود را بنویسید"
                           title="نظر شما"
                           name="comment"
                           [formGroup]="commentForm.get('comment')"
                           formControlName="comment"></blog-textarea>
        </div>
        <button type="submit"
                blog-button
                class="filledButton roundedButton margin-bot-l"
                [disabled]="commentForm.untouched || commentForm.invalid">ارسال نظر</button>
    </form>
</div>