<div *ngIf="comments.length > 0" class="comments">
    <h2>نظرات کاربران</h2>
    <div *ngFor="let cm of comments" class="comment">
        <div class="commentInfo">
            <div class="img">
                <img src="./assets/images/avatar.png" alt="avatar" />
            </div>
            <div class="desc">
                <p>{{ cm.comment }}</p>
                <div class="author">
                    <span class="authorName">{{cm.name}}</span>
                    <span class="authorCreated">{{ cm.created | persianCalendar }}</span>
                    <div class="replyButton">
                        <img src="/assets/icons/message.svg" alt="reply" />
                        <a (click)="onOpenReply()">پاسخ</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="openReply" class="replyForm">
            <label>name:</label>
            <input />
            <label>email:</label>
            <input />
            <label>description:</label>
            <input />
            <button>submit</button>
        </div>
    </div>
</div>
<div class="yourComment">
    <h2>نظر شما</h2>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div>
            <blog-textbox type="text"
                          title="نام شما"
                          name="name"
                          [formGroup]="commentForm.get('name')"
                          formControlName="name"></blog-textbox>
        </div>
        <div>
            <blog-textbox type="email"
                          title="آدرس ایمیل"
                          name="email"
                          [formGroup]="commentForm.get('email')"
                          formControlName="email"></blog-textbox>
        </div>
        <div class="bot">
            <blog-textarea [rows]="7"
                           placeholder="نظر خود را بنویسید"
                           title="نظر شما"
                           name="comment"
                           [formGroup]="commentForm.get('comment')"
                           formControlName="comment"></blog-textarea>
        </div>
        <button type="submit"
                blog-button
                class="filledButton roundedButton margin-bot-l"
                [disabled]="commentForm.untouched || commentForm.invalid">ارسال نظر</button>
    </form>
</div>