@import '/src/styles/color';
@import '/src/styles/variables';

footer{
    display: flex;
    width: 100%;
    height: 112px;
    background-color: $surface-dark;
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1280px;
        margin: 0 auto;
        span {
            font-size: $caption;
            color: $text-variant;
            margin: 0 auto auto auto;
        }
        .social{
            display: flex;
            margin-top: auto;
            margin-bottom: 16px;
            a{
                display: flex;
                width: 24px;
                height: 24px;
                margin: 0 8px;
            }
        }
    }
}